<script type="text/javascript" src="/nowjs/now.js"></script>
<script type="text/javascript">
  now.ready(function(){
		var linkId = "<%- linkObject.short_link %>";
		
		now.registerForUpdates(linkId, function(update){
			console.log('Dashboard client connected for: ' + update);
		});
		
		now.receiveUpdate = function(update){
			console.log('we received an update!!!');
			//$("#messages").append("<li>" + update.time_created+ ". " + update.original_link);
			
			$("#messages").append("<li><b>From: </b>" + update.referer + " <b>Time: </b>" + update.time + " <b>IP: </b>" + update.IP + "<br> <b>User Agent:</b>" + update.browser + "</li>");
		};
  });
</script>

<h2> Dashboard </h2>
<br>You're watching link: <a href="/<%- linkObject.short_link %>"><%- server_address %><%- linkObject.short_link %></a>

<ul id="messages">
	<%- partial('hit', hits) %>
</ul>