<script type="text/javascript">
  now.ready(function(){
		var linkId = "<%- linkObject.short_link %>";
		
		now.registerForUpdates(linkId, function(update){
			console.log('Dashboard client connected for: ' + update);
		});
		
		now.receiveUpdate = function(update){
			console.log('we received an update!!!');
			$("#messages").append("<br>" + update.time_created+ "<br>" + update.original_link);
		};
  });
</script>

<h2> Dashboard </h2>
<div id="messages"><br>You're watching link: <a href="/<%- linkObject.short_link %>"><%- server_address %><%- linkObject.short_link %></a></div>